Source: repo-ng
Section: net
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 9.20160709),
 python3 (>= 3.8),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.1),
 libsqlite3-dev (>= 3.22.0)
Standards-Version: 3.9.2
Homepage: https://github.com/named-data/repo-ng
Vcs-Browser: https://github.com/named-data/repo-ng
Vcs-Git: https://github.com/named-data/repo-ng.git

Package: repo-ng
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, ndnsec
Suggests: nfd
Description: next generation of NDN repository
 repo-ng is an implementation of a Named Data Networking data repository with the protocol
 defined on NDN wiki: http://redmine.named-data.net/projects/repo-ng/wiki
