Source: ndn-cxx
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 libssl-dev (>=1.0.1),
 libsqlite3-dev (>= 3.7.9),
 libcrypto++-dev (>= 5.6.1),
 python-sphinx (>= 1.1.3),
 libboost-all-dev (>= 1.48.0)
Standards-Version: 3.9.2
Section: libs
Homepage: http://named-data.net/doc/ndn-cxx/
Vcs-Git: git://github.com/named-data/ndn-cxx.git
Vcs-Browser: http://github.com/named-data/ndn-cxx

Package: ndn-cxx-dev
Section: libdevel
Architecture: i386 amd64
Depends: python (>= 2.7.0),
 pkg-config (>= 0.26),
 libssl-dev (>=1.0.1),
 libsqlite3-dev (>= 3.7.9),
 libcrypto++-dev (>= 5.6.1),
 libboost-all-dev (>= 1.48.0),
 ndn-cxx (= ${binary:Version})
Description: Development headers and libraries of NDN C++ library with eXperimental eXtensions

Package: ndn-cxx
Section: libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDN C++ library with eXperimental eXtensions and security tools
Conflicts: ndn.cxx-security-tools

Package: ndn-cxx-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 ndn-cxx (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for ndn-cxx
