Source: ndn-cxx
Section: libs
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libsqlite3-dev (>= 3.22.0),
 libssl-dev (>= 1.1.1),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 3.9.2
Homepage: https://named-data.net/doc/ndn-cxx/
Vcs-Browser: https://github.com/named-data/ndn-cxx
Vcs-Git: https://github.com/named-data/ndn-cxx.git

Package: libndn-cxx
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDN C++ library with eXperimental eXtensions

Package: libndn-cxx-dev
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libdevel
Depends: libndn-cxx (= ${binary:Version}),
 libboost-dev (>= 1.65.1),
 libboost-chrono-dev (>= 1.65.1),
 libboost-date-time-dev (>= 1.65.1),
 libboost-filesystem-dev (>= 1.65.1),
 libboost-iostreams-dev (>= 1.65.1),
 libboost-log-dev (>= 1.65.1),
 libboost-stacktrace-dev (>= 1.65.1),
 libboost-system-dev (>= 1.65.1),
 libsqlite3-dev (>= 3.22.0),
 libssl-dev (>= 1.1.1)
Description: Development headers and libraries of NDN C++ library with eXperimental eXtensions

Package: libndn-cxx-dbg
Architecture: any
Section: debug
Depends:
 libndn-cxx (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for libndn-cxx

Package: ndnsec
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: net
Depends: libndn-cxx (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Named Data Networking (NDN) security tools
