Source: ndn-tlv-ping
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndn-cxx-dev (>= 0.3.0~rc0.0)
Standards-Version: 3.9.2
Section: net
Homepage: http://github.com/named-data/ndn-tlv-ping
Vcs-Git: git://github.com/named-data/ndn-tlv-ping.git
Vcs-Browser: http://github.com/named-data/ndn-tlv-ping

Package: ndn-tlv-ping
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ndn-cxx
Description: Reachability Testing Tool for NDN
 This is a data plane reachability testing tool for NDN network.
