Source: ndncert
Section: net
Priority: optional
Maintainer: Zhiyi Zhang <zhiyi@cs.ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.0),
 libsqlite3-dev (>= 3.22.0),
 libssl-dev (>= 1.1.1)
Standards-Version: 3.9.2
Homepage: https://github.com/named-data/ndncert
Vcs-Browser: https://github.com/named-data/ndncert
Vcs-Git: https://github.com/named-data/ndncert.git

Package: libndncert
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDN Certificate Management System
 The library to support NDNCERT protocol and help
 NDN entities to manage certificates.

Package: libndncert-dev
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libdevel
Depends: libndncert (= ${binary:Version}), ${misc:Depends},
 libboost-dev (>= 1.65.1),
 libboost-filesystem-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.0),
 libsqlite3-dev (>= 3.22.0),
 libssl-dev (>= 1.1.1)
Description: NDN Certificate Management System
 The library to support NDNCERT protocol and help
 NDN entities to manage certificates.
 .
 This package contains the development files (headers and libraries)

Package: libndncert-dbg
Architecture: any
Section: debug
Depends: libndncert (= ${binary:Version}), ${misc:Depends}
Description: NDN Certificate Management System (debugging symbols)
 The library to support NDNCERT protocol and help
 NDN entities to manage certificates.
 .
 This package contains the debugging symbols for the library.

Package: ndncert
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ndnsec
Description: NDN Certificate Management System
 Tools to support NDNCERT protocol and help
 NDN entities do certificate management.

Package: ndncert-server
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ndnsec
Suggests: nfd
Description: NDN Certificate Management System
 Daemon to support NDNCERT protocol and help
 NDN entities do certificate management.
