Source: ndncert
Priority: extra
Maintainer: Zhiyi Zhang <zhiyi@cs.ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 libndn-cxx-dev (>= 0.6.5)
Standards-Version: 3.9.2
Section: net
Homepage: http://github.com/named-data/ndncert
Vcs-Git: git://github.com/named-data/ndncert
Vcs-Browser: http://github.com/named-data/ndncert

Package: libndncert
Section: libs
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDN Certificate Management System
 The library to support NDNCERT protocol and help
 NDN entities to manage certificates.

Package: libndncert-dev
Section: libdevel
Depends: libndncert (= ${binary:Version}), ${misc:Depends}, libndn-cxx-dev
Architecture: i386 amd64 arm64 armel armhf ppc64el
Description: NDN Certificate Management System
 The library to support NDNCERT protocol and help
 NDN entities to manage certificates.
 .
 This package contains the development files (headers and libraries)

Package: libndncert-dbg
Section: debug
Architecture: i386 amd64 arm64 armel armhf ppc64el
Priority: extra
Depends: libndncert (= ${binary:Version}), ${misc:Depends}
Multi-Arch: foreign
Description: NDN Certificate Management System
 The library to support NDNCERT protocol and help
 NDN entities to manage certificates.
 .
 This package contains the debugging symbols for the libraries.

Package: ndncert
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec
Description: NDN Certificate Management System
 Tools to support NDNCERT protocol and help
 NDN entities do certificate management.

Package: ndncert-server
Depends: ${shlibs:Depends}, ${misc:Depends}, ndncert, libndn-cxx, ndnsec, nfd
Architecture: i386 amd64 arm64 armel armhf ppc64el
Description: NDN Certificate Management System
 Daemon to support NDNCERT protocol and help
 NDN entities do certificate management.
