Source: libpsync
Section: libs
Priority: optional
Maintainer: Ashlesh Gawande <agawande@memphis.edu>
Build-Depends: debhelper (>= 8.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.26),
 libboost-all-dev (>= 1.53.0),
 libndn-cxx-dev (>= 0.7.0),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 4.1.2
Homepage: https://named-data.net/doc/PSync/
Vcs-Browser: https://github.com/named-data/PSync
Vcs-Git: https://github.com/named-data/PSync.git

Package: libpsync
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Partial and Full Name Synchronization Library for NDN

Package: libpsync-dev
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libdevel
Depends: libndn-cxx-dev,
 libpsync (= ${binary:Version})
Description: Development headers and libraries of Partial and Full Name Synchronization Library for NDN

Package: libpsync-dbg
Architecture: any
Section: debug
Depends:
 libpsync (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for libpsync
