Source: ndn-tools
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 dh-systemd (>= 1.5),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 libpcap-dev,
 python-sphinx,
 libndn-cxx-dev (>= 0.6.6),
 git
Standards-Version: 3.9.2
Section: net
Homepage: http://github.com/named-data/ndn-tools
Vcs-Git: git://github.com/named-data/ndn-tools.git
Vcs-Browser: http://github.com/named-data/ndn-tools

Package: ndn-tools
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ndndump, ndnping, ndnpeek, ndn-dissect
Description: A collection of essential tools for Named Data Networking

Package: ndndump
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx
Description: A traffic analysis tool that captures Interest and Data packets
 on the wire, and displays brief information about captured packets.

Package: ndnping
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec, nfd
Description: Reachability testing tools for Named Data Networking.

Package: ndn-tlv-ping
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ndnping
Description: Deprecated package, use ndnping instead

Package: ndnpeek
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec
Description: ndnpeek and ndnpoke are a pair of programs to respectively request and serve
 a single Data packet.

Package: ndn-dissect
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx
Description: An NDN packet format inspector. It reads zero or more NDN packets from either
 an input file or the standard input, and displays the Type-Length-Value (TLV) structure
 of those packets on the standard output.

Package: ndn-dissect-wireshark
Architecture: i386 amd64 arm64 armel armhf ppc64el
Description: Wireshark extension to inspect TLV structure of NDN packets

Package: ndnchunks
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec
Description: ndncatchunks and ndnputchunks for for publishing and retrieving segmented content

# Package: ndn-pib
# Architecture: i386 amd64 arm64 armel armhf ppc64el
# Description: A service to manage the public information of keys and publish certificates
