Source: ndn-tools
Section: net
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 9.20160709),
 python3 (>= 3.6.0),
 pkg-config (>= 0.26),
 libpcap-dev,
 libndn-cxx-dev (>= 0.8.0),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 4.5.0
Homepage: https://github.com/named-data/ndn-tools
Vcs-Browser: https://github.com/named-data/ndn-tools
Vcs-Git: https://github.com/named-data/ndn-tools.git

Package: ndn-tools
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ndndump, ndnping, ndnpeek, ndn-dissect, ndnchunks
Description: collection of essential tools for Named Data Networking (NDN)

Package: ndndump
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: traffic analysis tool that captures Interest and Data packets
 on the wire, and displays brief information about captured packets.

Package: ndnping
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: reachability testing tools for Named Data Networking (NDN)

Package: ndnpeek
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pair of programs to request and serve a single NDN Data packet

Package: ndn-dissect
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Named Data Networking (NDN) packet format inspector
 ndn-dissect reads a sequence of NDN packets from either an input file or the
 standard input, and displays the Type-Length-Value (TLV) structure of those
 packets on the standard output.

Package: ndn-dissect-wireshark
Architecture: i386 amd64 arm64 armel armhf ppc64el
Description: Wireshark extension to inspect the TLV structure of NDN packets

Package: ndnchunks
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pair of programs for publishing and retrieving segmented content over NDN
