Source: ndnmap-data-collector
Priority: extra
Maintainer: John DeHart <jdd@wustl.edu>
Build-Depends: debhelper (>= 8.0.0),
 dh-systemd (>= 1.5),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndn-cxx-dev (>= 0.5.1-60)
Standards-Version: 3.9.2
Section: net
Homepage: https://github.com/WU-ARL/ndnmapDataCollector
Vcs-Git: https://github.com/WU-ARL/ndnmapDataCollector.git
Vcs-Browser: https://github.com/WU-ARL/ndnmapDataCollector

Package: ndnmap-data-collector
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, ndn-cxx
Description: Data collector daemons for ndnmap.arl.wustl.edu
 This tool is designed to generate ndn interests to each NDN Testbed node
 to collect link usage data for display on the ndnmap.arl.wustl.edu web page.
