Source: ndnmap-data-collector
Section: net
Priority: optional
Maintainer: John DeHart <jdd@wustl.edu>
Build-Depends: debhelper (>= 9.20160709),
 python3 (>= 3.6.0),
 pkg-config (>= 0.26),
 libndn-cxx-dev (>= 0.8.0)
Standards-Version: 3.9.2
Homepage: https://github.com/WU-ARL/ndnmapDataCollector
Vcs-Browser: https://github.com/WU-ARL/ndnmapDataCollector
Vcs-Git: https://github.com/WU-ARL/ndnmapDataCollector.git

Package: ndnmap-data-collector
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec
Description: data collector daemons for ndnmap.arl.wustl.edu
 This tool is designed to generate ndn interests to each NDN Testbed node
 to collect link usage data for display on the ndnmap.arl.wustl.edu web page.
