Source: ndns
Section: net
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 9.20160709),
 python3 (>= 3.8),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.0),
 libsqlite3-dev (>= 3.22.0),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 4.5.0
Homepage: https://github.com/named-data/ndns
Vcs-Browser: https://github.com/named-data/ndns
Vcs-Git: https://github.com/named-data/ndns.git

Package: ndns
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: nfd
Description: Domain Name Service for Named Data Networking
 NDNS is a completely distributed database system that largely mimics
 the structure of the DNS system in today's Internet but operates within
 the NDN architecture.
