# Copyright (c) 2015,  Arizona Board of Regents.
#
# This file is part of NDNS (Named Data Networking Domain Name Service).
# See AUTHORS.md for complete list of NDNS authors and contributors.
#
# NDNS is free software: you can redistribute it and/or modify it under the terms
# of the GNU General Public License as published by the Free Software Foundation,
# either version 3 of the License, or (at your option) any later version.
#
# NDNS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# NDNS, e.g., in COPYING.md file.  If not, see <http://www.gnu.org/licenses/>.
#
# Author: Eric Newberry <enewberry@email.arizona.edu>

[Unit]
Description=Domain Name Service for Named Data Networking
Documentation=man:ndns-daemon
Requires=nfd.service
After=nfd.service

[Service]
Environment=HOME=/var/lib/ndns
EnvironmentFile=-/etc/default/ndns
User=ndns
Group=ndns
ExecStart=/usr/bin/ndns-daemon -c /etc/ndns/ndns.conf
Restart=on-failure
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target