Source: libchronosync
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 python-sphinx (>= 1.1.3),
 libboost-all-dev (>= 1.53.0),
 libndn-cxx-dev (>= 0.6.2),
 git
Standards-Version: 3.9.2
Section: libs
Homepage: http://named-data.net/doc/ChronoSync/
Vcs-Git: git://github.com/named-data/ChronoSync.git
Vcs-Browser: http://github.com/named-data/ChronoSync

Package: libchronosync
Section: libs
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sync library for multiuser realtime applications for NDN

Package: libchronosync-dev
Section: libdevel
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: libndn-cxx-dev (>= 0.6.1),
 libchronosync (= ${binary:Version})
Description: Development headers and libraries of sync library for multiuser realtime applications for NDN

Package: libchronosync-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 libchronosync (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for libchronosync
