Source: libchronosync
Section: libs
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.0),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 3.9.2
Homepage: https://github.com/named-data/ChronoSync
Vcs-Browser: https://github.com/named-data/ChronoSync
Vcs-Git: https://github.com/named-data/ChronoSync.git

Package: libchronosync
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sync library for multiuser realtime applications for NDN

Package: libchronosync-dev
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libdevel
Depends: libchronosync (= ${binary:Version}), ${misc:Depends},
 libboost-dev (>= 1.65.1),
 libboost-iostreams-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.0)
Description: Development headers and libraries of sync library for multiuser realtime applications for NDN

Package: libchronosync-dbg
Architecture: any
Section: debug
Depends: libchronosync (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for libchronosync
