Source: chronochat
Section: net
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.7.0),
 liblog4cxx10-dev (>= 0.10.0),
 protobuf-compiler (>= 2.4.0),
 libprotobuf-dev (>= 2.4.0),
 libqt4-dev
Standards-Version: 3.9.2
Homepage: https://github.com/named-data/ChronoChat
Vcs-Browser: https://github.com/named-data/ChronoChat
Vcs-Git: https://github.com/named-data/ChronoChat.git

Package: chronochat
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple but interesting demo to visualize how ChronoSync library works
