Source: name-based-access-control
Priority: optional
Maintainer: Junxiao Shi <deb@mail1.yoursunny.com>
Build-Depends: debhelper (>= 11.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.29),
 python3-sphinx (>= 1.6.7),
 libboost-all-dev (>= 1.65.0),
 libndn-cxx-dev (>= 0.7.0),
 git
Standards-Version: 4.1.2
Section: libs
Homepage: https://github.com/named-data/name-based-access-control
Vcs-Git: git://github.com/named-data/name-based-access-control.git
Vcs-Browser: https://github.com/named-data/name-based-access-control

Package: libndn-nac
Section: libs
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Named-Based Access Control Library for NDN

Package: libndn-nac-dev
Section: libdevel
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: libndn-cxx-dev,
 libndn-nac (= ${binary:Version})
Description: Development headers and libraries of Named-Based Access Control Library for NDN

Package: libndn-nac-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 libndn-nac (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for libndn-nac
