Source: name-based-access-control
Section: libs
Priority: optional
Maintainer: Junxiao Shi <deb@mail1.yoursunny.com>
Build-Depends: debhelper (>= 11.0.0),
 python3 (>= 3.6.0),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.7.0),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 4.1.2
Homepage: https://github.com/named-data/name-based-access-control
Vcs-Browser: https://github.com/named-data/name-based-access-control
Vcs-Git: https://github.com/named-data/name-based-access-control.git

Package: libndn-nac
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Named-Based Access Control Library for NDN

Package: libndn-nac-dev
Architecture: i386 amd64 arm64 armel armhf ppc64el
Section: libdevel
Depends:
 libboost-dev (>= 1.65.1),
 libndn-cxx-dev,
 libndn-nac (= ${binary:Version})
Description: Development headers and libraries of Named-Based Access Control Library for NDN

Package: libndn-nac-dbg
Architecture: any
Section: debug
Depends:
 libndn-nac (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for libndn-nac
