Source: ndn-traffic-generator
Section: net
Priority: optional
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python3 (>= 3.8),
 pkg-config (>= 0.29),
 libboost-all-dev (>= 1.65.1),
 libndn-cxx-dev (>= 0.8.1)
Standards-Version: 3.9.2
Homepage: https://github.com/named-data/ndn-traffic-generator
Vcs-Browser: https://github.com/named-data/ndn-traffic-generator
Vcs-Git: https://github.com/named-data/ndn-traffic-generator.git

Package: ndn-traffic-generator
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: traffic generator for Named Data Networking (NDN)
 This tool is designed to generate Interest and Data traffic in an NDN network.  The client
 and server tool accept traffic configuration files which can be used to specify the
 pattern of NDN traffic that is required to be generated.  Sample configuration files are
 provided which include instructions on how to configure various parameters.
