Source: ndn-traffic-generator
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndn-cxx-dev (>= 0.6.0)
Standards-Version: 3.9.2
Section: net
Homepage: http://github.com/named-data/ndn-traffic-generator
Vcs-Git: git://github.com/named-data/ndn-traffic-generator.git
Vcs-Browser: http://github.com/named-data/ndn-traffic-generator

Package: ndn-traffic-generator
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, ndn-cxx
Description: Traffic Generator For NDN
 This tool is designed to generate Interest and Data traffic in an NDN network.  The client
 and server tool accept traffic configuration files which can be used to specify the
 pattern of NDN traffic that is required to be generated.  Sample configuration files are
 provided which include instructions on how to configure various parameters.
