Source: nlsr
Priority: extra
Maintainer: A K M Mahmudul Hoque <ahoque1@memphis.edu>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndn-cxx-dev (>= 0.2.0~rc2.2),
 liblog4cxx10-dev (>= 0.10.0),
 libcrypto++-dev (>= 5.6.1),
 protobuf-compiler (>= 2.4.0),
 libprotobuf-dev (>= 2.4.0),
 libboost-all-dev (>= 1.48.0)
Standards-Version: 3.9.2
Section: net
Homepage: http://redmine.named-data.net/projects/nlsr/wiki/
Vcs-Git: git://github.com/named-data/NLSR.git
Vcs-Browser: http://github.com/named-data/NLSR

Package: nlsr
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends} , ndn-cxx
Description: A link state routing protocol for Named Data Networking
