Source: nlsr
Priority: extra
Maintainer: Ashlesh Gawande <agawande@memphis.edu>
Build-Depends: debhelper (>= 8.0.0),
 dh-systemd (>= 1.5),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndn-cxx-dev (>= 0.6.0),
 libchronosync-dev (>= 0.4.0),
 liblog4cxx10-dev (>= 0.10.0),
 libboost-all-dev (>= 1.53.0),
 python-sphinx (>= 1.1.3)
Standards-Version: 3.9.2
Section: net
Homepage: http://redmine.named-data.net/projects/nlsr/wiki/
Vcs-Git: git://github.com/named-data/NLSR.git
Vcs-Browser: http://github.com/named-data/NLSR

Package: nlsr
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, ndn-cxx
Description: A link state routing protocol for Named Data Networking
