Source: nlsr
Priority: extra
Maintainer: Ashlesh Gawande <agawande@memphis.edu>
Build-Depends: debhelper (>= 9.20160709),
 python3 (>= 3.6.0),
 pkg-config (>= 0.26),
 libndn-cxx-dev (>= 0.8.0),
 libchronosync-dev (>= 0.5.4),
 libpsync-dev (>= 0.3.0),
 libboost-all-dev (>= 1.58.0),
 python3-sphinx (>= 1.6.0),
 git
Standards-Version: 4.5.0
Section: net
Homepage: http://redmine.named-data.net/projects/nlsr/wiki/
Vcs-Git: git://github.com/named-data/NLSR.git
Vcs-Browser: http://github.com/named-data/NLSR

Package: nlsr
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec
Description: A link state routing protocol for Named Data Networking
