Source: nfd
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0),
 dh-systemd (>= 1.5),
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 libndn-cxx-dev (>= 0.7.0),
 python-sphinx,
 libpcap-dev (>= 1.5.3),
 libboost-all-dev (>= 1.58.0),
 libsystemd-dev,
 git
Standards-Version: 3.9.2
Section: net
Homepage: http://named-data.net/doc/NFD/
Vcs-Git: git://github.com/named-data/NFD.git
Vcs-Browser: http://github.com/named-data/NFD

Package: nfd
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, libndn-cxx, ndnsec, sudo, procps, adduser, libcap2-bin
Description: NFD - Named Data Networking Forwarding Daemon
 NFD is a network forwarder that implements and evolves together with the Named Data
 Networking (NDN) protocol.

Package: nfd-status-http-server
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: nfd (= ${binary:Version}), ${misc:Depends}, python2.7-minimal
Description: NFD HTTP status server

Package: nfd-autoreg
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: nfd (= ${binary:Version}), ${misc:Depends}
Description: NFD autoreg server

Package: ndn-autoconfig-server
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: nfd (= ${binary:Version}), ${misc:Depends}
Description: NDN autoconfig server

Package: ndn-autoconfig-client
Architecture: i386 amd64 arm64 armel armhf ppc64el
Depends: nfd (= ${binary:Version}), ${misc:Depends}
Description: NDN autoconfig client

Package: nfd-all
Architecture: any
Depends: ${misc:Depends}, nfd, nfd-status-http-server, nfd-autoreg, ndn-autoconfig-server, ndn-autoconfig-client
Description: NFD and all related daemons

Package: nfd-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 nfd (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for nfd
